*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #a200ffd5, #2d09cece)
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2.25rem;
    outline: none;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.7);
}

.calculator-grid > button:hover {
    background: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
}

.current-operand {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.8);
}